.flex-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.flex {
  display: flex;
  overflow-y: auto;
  max-height: 10rem;
  width: 50%
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
